/* Title: Portfolio.css 
   Author: Luke Diehl
   Created: 6/29/2021
   Last Updated: 6/29/2021
*/
html {scroll-behavior: smooth;}
body {background-color: #e4e5ed}

p {
    font-family: 'Noto Sans JP', sans-serif;
    color: #000000;
    font-size: large;
}

/* Name */
h1 {
    text-align: center;
    font-family: 'Noto Sans JP', sans-serif;
    color: #000000;
    font-size: 50px;
    padding: -1%;
}
#luke {
    border-bottom: solid 2px #000000;
}

/* Navigation Bar */
#navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
li {
    border: double #000000 6px;
    font-family: 'Noto Sans JP', sans-serif;
    width: 33.33333333%;
}
header a {
    text-decoration: none;
}
#navigationBar {
    background-color: #044191;
    overflow: hidden;
    border: double #000000 4px;
}
#navigationBar a {
    padding-top: 3%;
    padding-bottom: 3%;
    float: left;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    width: 100%;
}
#navigationBar a:hover {
    background-color: #c9cdd6;
    color: #000000;
}

/* Headshot and Introduction */
#headshot {
    font-family: 'Noto Sans JP', sans-serif;
    color: #000000;
    border: solid #000000 2px; 
    filter: contrast(1.5);
    margin-bottom: -1%;
    width: 80%;
    margin-left: 6%;
}
#portrait {
    width: 33%;
}
#intro {
    width: 66%;
}
#top {
    margin: 1%;
    display: flex;
}

/* Contact Form */
input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}
input[type=email], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}
input[type=number], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}
input[type=submit] {
    background-color: #044191;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #c9cdd6;
    color: #000000;
}
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

/* Contact Page Human Test */
#test {
    width: 25%;
    margin-top: 3%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
}